.add-staff-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 90%;
    margin-bottom: 14px;
    margin-top: 14px;
  }
  
  .add-staff-form mat-form-field {
    width: 100%;
  }
  
  .add-staff-form button {
    align-self: flex-end;
  }
  
  .add-staff-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }